[Unit]
Description=Squid Restart Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/etc/squid
Environment="PATH=%h/.local/share/mamba/envs/web_env/bin"
ExecStart=%h/.local/share/mamba/envs/web_env/bin/python app.py

[Install]
WantedBy=multi-user.target
